.App {
    display: flex;
    flex-direction: column;
}

body {
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.text-submit {
    margin: 20px;
}

.text-submit-button {
    margin-left: 10px;
}

.no-message-info {
    font-style: italic;
}